<section class="container">
    <h1 id="deckCount" class="deck-count">0</h1>
    <div class="row">
        <h1 class="twelve columns">All Cards</h1>
    </div>

    <%= render 'form' %>

    <div class="cards-list">
        <% @pictures.each do |picture| %>
          <%= render 'pictures/picture', picture: picture %>
        <% end %>
    </div>
</section>
